body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	background: #c3c3c3;
}

.wrapper {
	margin: 0 auto;
	/* display: flex;
	flex-direction: row;
	justify-content: center; */
	max-width: 1000px;
	padding-bottom: 50px;
}

aside {
	padding-top: 40px;
	display: flex;
	flex-direction: column;
	padding: 10px;
	width: 80vw;
}

@media screen and (max-width: 768px) {
	.wrapper {
		display: block;
		background-color: var(--bg-color);
		min-height: 80vh;
	}
	aside {
		width: 90vw;
	}
}

@media (min-width: 780px) {
	.container {
		min-height: 100vh;
		display: flex;
		justify-content: center;
		max-width: 1800px;
		position: relative;
	}
	main {
		min-width: 900px;
		padding-bottom: 100px;
	}

	.category {
		position: sticky;
		top: 75px;
	}
}

.category.collapsed ul {
	height: 200px;
	overflow-y: scroll;
}
