body {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}

main {
	padding-top: 50px;
	max-width: 900px;
}

.wrapper {
	margin: 0 auto;
	display: flex;
	flex-direction: row;
	justify-content: center;
	max-width: 1000px;
}

@media screen and (max-width: 768px) {
	.wrapper {
		flex-direction: column;
	}
}

aside {
	padding-top: 90px;
	display: flex;
	flex-direction: column;
	width: 280px;
}
